/* using node-style package resolution in a CSS file:  */
@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

.container-fluid {
  padding: 0px;
}
.cover-profile {
  width: 100%;
  height: 250px;
}
.pic-profile {
  width: 100%;
}

.edu-card {
  display: inline;
  height: 50px;
}
.edu-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.interest-card {
  display: inline-flex;
  height: 50px;
  width: 50%;
}
.interest-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Login Page */

.Login {
  padding: 60px 0;
}

.Login form {
  margin: 0 auto;
  max-width: 320px;
}

/* Navbar */

.button-join-us {
  border-radius: 30%;
}

.Navbar {
  border-top: 3px solid #FFE529;
}

/* Subject page */

.app-header {
  border-top: 4px solid #FFEB35;
  border-bottom: 1px solid #858585;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app-content {
  border-bottom: 1px solid #c0c0c0;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app-grid {
  display: grid;
  grid-template-areas:
    'blank main main main main menu'
    'blank main main main main menu';
  grid-gap: 10px;
  padding: 10px;
}
.app-grid > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
.app-blank {
  grid-area: blank;
}
.app-main {
  grid-area: main;
}
.app-menu {
  width: 270px;
  height:100px;
  border-color:rgb(219, 219, 219);
  border-style: solid;
  grid-area: menu;
}
.app-padding {
  padding-top: 19px;
  padding-right: 15px;
  padding-bottom: 5px;
  padding-left: 15px;
}
.app-cycle {
  border-radius: 50%!important;
  color: black;
}