/* using node-style package resolution in a CSS file:  */
@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

.container-fluid {
  padding: 0px;
}

.display-flex {
  display: flex !important;
}

/* Font Management */

p #body-forum-text{
  font-size: 20px;
  font-family: "CSChatThai" !important;
}

* {
  font-family: "Kanit-Regular";
}

.profile-btn {
  background: none;
  border: none;
  padding: 3px;
  cursor: pointer;
}
.icon.profile-btn:hover {
  background: #d1d1d198;
  border-radius: 50%;
}

.profile-photo-edit {
  line-height: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.cover-profile {
  height: 250px;
  -webkit-user-drag: none;
  background-color: transparent;
  position:relative;
  border-color: #ffe529;
}

.img-cover-profile {
  position:absolute;
  height: 250px;
  width: 100%;
  -webkit-user-drag: none;
  /* z-index: -2; */
}

.pic-profile {
  width: 200px;
  margin-top: -112px;
  z-index: 4;
  -webkit-user-drag: none;
}

.interest-card {
  display: inline-flex;
  height: 50px;
  width: 50%;
}
.interest-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-user-drag: none;
}

/* Login Page */

.Login {
  padding: 60px 0;
}

.Login form {
  margin: 0 auto;
  max-width: 320px;
}

/* Navbar */

.button-join-us {
  border-radius: 30%;
}

.Navbar {
  border-top: 3px solid #ffe529;
}

/* Subject page */

.app-header {
  border-top: 4px solid #ffeb35;
  border-bottom: 1px solid #858585;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app-content {
  border-bottom: 1px solid #c0c0c0;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app-grid {
  display: grid;
  grid-template-areas:
    "blank main main main main menu"
    "blank main main main main menu";
  grid-gap: 10px;
  padding: 10px;
}
.app-grid > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
.app-blank {
  grid-area: blank;
}
.app-main {
  grid-area: main;
}
.app-menu {
  width: 270px;
  height: 100px;
  border-color: rgb(219, 219, 219);
  border-style: solid;
  grid-area: menu;
}
.app-padding {
  padding-top: 19px;
  padding-right: 15px;
  padding-bottom: 5px;
  padding-left: 15px;
}
.app-paddingContent {
  padding-top: 19px;
  padding-right: 15px;
  padding-bottom: 5px;
  padding-left: 0px;
}
.app-paddingSubjIMG {
  padding-top: 50px;
  padding-right: 15px;
  padding-bottom: 5px;
  padding-left: 100px;
}
.app-subjectFont {
  font-size: 40px;
  color: aliceblue;
  padding-top: 120px;
  padding-left: 90px;
}
.app-cycle {
  border-radius: 50% !important;
  color: black;
}

.app-cycle2 {
  border-radius: 50% !important;
  margin: 10px;
  color: black;
}
.app-cycleSubject {
  border-radius: 50% !important;
  color: black;
}
.app-removeDot {
  list-style-type: none;
}
.app-profile {
  text-align: center;
  color: rgb(148, 148, 148);
  padding-top: 19px;
  padding-right: 0px;
}

.transparent_btn {
  display: inline-block;
  padding: 10px 14px;
  color: #fff;
  border: 1px solid #fff;
  text-decoration: none;
  font-size: 14px;
  line-height: 120%;
  background-color: rgba(255, 255, 255, 0);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: background-color 300ms ease;
  -moz-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
  cursor: pointer;
}
.transparent_btn:hover {
  background-color: rgba(255, 255, 255, 0.3);
  color: #fff;
}

.app-fontSizeTag {
  font-size: 11px;
  margin-top: 3px;
}

.table{
  /* font-family: 'Supermarket'; */
  text-align:center;
  /* align:center; */
}
.mdb-dataTables_paginate{
  display: none;
}
.mdb-datatable-entries{
  display: none;
}
.mdb-dataTable-head{
  color: white;
  background-color: #212529;
}


.fontETC{
  font-family: 'Supermarket';
}


