body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'IconicText';
  src: local('IconicText'), url(./assets/font/IconicText.ttf) format('truetype');
}

@font-face {
  font-family: 'CSChatThai';
  src: local('CSChatThai'), url(./assets/font/CSChatThai.ttf) format('truetype');
}

@font-face {
  font-family: 'Kanit-Light';
  src: local('Kanit-Light'), url(./assets/font/Kanit-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Kanit-Regular';
  src: local('Kanit-Regular'), url(./assets/font/Kanit-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Kanit-Regular.ttf';
  src: local('Minimal-Regular'), url(./assets/font/Minimal-Regular.ttf) format('truetype');
}
/* Motorway.ttf */
@font-face {
  font-family: 'Motorway';
  src: local('Motorway'), url(./assets/font/Motorway.ttf) format('truetype');
}
