.HomeContainer {
  background-color: aqua;
  width: 100%;
  height: 100%;
}

.card-username {
  color: gray;
  font-size: 12px;
  margin-bottom: 10px;
}

.card-title {
  color: black;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-subtitle {
  color: gray;
  font-size: 12px;
  margin-bottom: 10px;
}

.btn-learnmore {
  size: 10px;
  font-size: 12px;
  border-radius: 20px;
  font-weight: bold;
}

.btn-subjectnav {
  display: flex;
  align-items: stretch;
  background-color: transparent;
  border: transparent;
  color: rgb(71, 66, 66);
  font: 11px;
}

.ul-navsubject {
  list-style-type: none;
  text-decoration: none;
}

.div-subjectnav {
  flex-direction: column;
  font-size: 10px;
}

.emp-profile {
  padding: 3%;
  margin-top: 3%;
  margin-bottom: 3%;
  border-radius: 0.5rem;
  background: #fff;
}
.profile-img {
  text-align: center;
}

.profile-img .file {
  position: relative;
  overflow: hidden;
  margin-top: -20%;
  width: 70%;
  border: none;
  border-radius: 0;
  font-size: 15px;
  background: #212529b8;
}
.profile-img .file input {
  position: absolute;
  opacity: 0;
  right: 0;
  top: 0;
}
.profile-head h5 {
  color: #333;
}
.profile-head h6 {
  color: #0062cc;
}
.profile-edit-btn {
  border: none;
  border-radius: 1.5rem;
  width: 70%;
  padding: 2%;
  font-weight: 600;
  color: #6c757d;
  cursor: pointer;
}
.proile-rating {
  font-size: 12px;
  color: #818182;
  margin-top: 5%;
}
.proile-rating span {
  color: #495057;
  font-size: 15px;
  font-weight: 600;
}
.profile-head .nav-tabs {
  margin-bottom: 5%;
}
.profile-head .nav-tabs .nav-link {
  font-weight: 600;
  border: none;
}
.profile-head .nav-tabs .nav-link.active {
  border: none;
  border-bottom: 2px solid #0062cc;
}
.profile-work {
  padding: 14%;
  margin-top: -15%;
}
.profile-work p {
  font-size: 12px;
  color: #818182;
  font-weight: 600;
  margin-top: 10%;
}
.profile-work a {
  text-decoration: none;
  color: #495057;
  font-weight: 600;
  font-size: 14px;
}
.profile-work ul {
  list-style: none;
}
.profile-tab label {
  font-weight: 600;
}
.profile-tab p {
  font-weight: 600;
  color: #0062cc;
}

.pic-profile {
  width: 150px;
  border-radius: 50%;
}

.edu-card {
  display: flex;
  margin-left: 20px;
}

.edu-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-user-drag: none;
}

.interest-card {
  display: inline-flex;
  height: 50px;
  width: 50%;
}
.interest-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-user-drag: none;
}

.btn-edit {
  display: flex;
  align-items: center;
}

.subject-img{
    float:left;
}


#follow{
    border-radius: 20px;
}

.subject-img-bg{
    object-fit: cover;
    width: 100%;
    max-height: 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 20px;
}
.co-logo {
  /*display:block;*/
  float: left;
  margin-right: 8px;
  border-radius: 50% !important;

  width: 40px;
  height: 40px;
}
.co-name > a {
  font-family: Helvetica;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.38;
  color: #365899;
  text-decoration: none;

  margin-bottom: 2px;
}

.co-name > a:hover {
  text-decoration: underline;
}

.user-image-small{
    /*display:block;*/
    float: left;
    margin-right: 8px;
    border-radius: 50% !important;
  
    width: 20px;
    height: 20px;
}

.user-name-small a{
    font-size: 12px;
    font-weight: normal;
    line-height: 1.5;
    color: gray;
    text-decoration: none;
}

.btn-close2 {
  background-color: transparent;
  position: absolute;
  width: 2px;
  height: 2px;
  left: 96%;
  top: 15px;
}

.btn-closestyle {
  background-color: transparent;
  color: gray;
  border: hidden;
}

.btn-closestyle:hover{
  background-color: rgb(76, 80, 92);
}
