.container {
    width: 700px;
    height: auto;
    position: absolute;
    top: 20%;
    left: 30%;
    margin-top: -100px;
    margin-left: -100px;
    border: 2px solid #ddd;
  }
  label{
    font-size: 24px;
  }
  .ss{
    font-size: 12px;
    height: 30px;
  }