.custom-btn {
  margin-left: 20px;
  margin-right: 40px;
  border-radius: 19px;
  padding-left: 20px;
  padding-right: 20px;
  }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color:#e9ebee;
}

.header {
  margin: 15px;
  margin-bottom:20px;
}

.co-logo {
  /*display:block;*/
  float:left;
  margin-right:8px;
  border-radius: 50% !important;

  width:40px;
  height:40px;
}

.co-name > a {
  font-family: Helvetica;
  font-size:14px;
  font-weight: bold;
  line-height: 1.38;
  color: #365899;
  text-decoration:none;
  
  margin-bottom:2px;
}

.co-name > a:hover {
  text-decoration:underline;
}

.time {
  font-family: Helvetica;
  font-size:12px;
  color: #90949c;
}

.time > a {
  color: #90949c;
  text-decoration:none;
}

.time > a:hover {
  text-decoration:underline;
}

.options {
  font-family: Helvetica;
  font-size:12px;
  color: #e5e5e5;
  float:right;
}

.options:hover {
  color: black; /* Fallback */
  color: rgba(0, 0, 0, .30);
}

.content {
  clear:both;
  margin: 15px;
  font-family: Helvetica, sans-serif;
  font-size:14px;
  line-height: 1.38;
}

.tag{
  margin-left: 10px;
  margin-bottom: 15px;
  display: inline;
}

.card-tag{
  margin-bottom: 10px;
  margin-left: 5px;
}

.comment{
  width: 60px;
  border-radius: 19px;
  margin-bottom: 5px;
}

.nav-subject{
  position: fixed;
  display: block;
}

.btn-more{
  background-color: transparent;
  position:absolute; 
  left:94%; 
  top:10px;
}

.btn-morestyle{
  background-color: transparent;
  color: gray;
  border: hidden;
}

.fixed {
  position: fixed;
}