.custom-btn {
  margin-left: 20px;
  margin-right: 40px;
  border-radius: 19px;
  padding-left: 20px;
  padding-right: 20px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #e9ebee;
}

.header {
  margin: 15px;
  margin-bottom:5px;
}

.co-logo {
  /*display:block;*/
  float: left;
  margin-right: 8px;
  border-radius: 50% !important;

  width: 40px;
  height: 40px;
}


.co-logo2 {
  /*display:block;*/
  float:left;
  margin-right:8px;
  border-radius: 50% !important;

  width:40px;
  height:40px;
}


.co-logo-comment {
  /*display:block;*/
  float:left;
  margin-right:8px;
  border-radius: 50% !important;

  width:25px;
  height:25px;
}

.co-name > a {
  font-family: Helvetica;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.38;
  color: #365899;
  text-decoration: none;

  margin-bottom: 2px;
}

.co-name > a:hover {
  text-decoration: underline;
}

.time {
  font-family: Helvetica;
  font-size: 12px;
  color: #90949c;
}

.time > a {
  color: #90949c;
  text-decoration: none;
}

.time > a:hover {
  text-decoration: underline;
}

.options {
  font-family: Helvetica;
  font-size: 12px;
  color: #e5e5e5;
  float: right;
}

.options:hover {
  color: black; /* Fallback */
  color: rgba(0, 0, 0, 0.3);
}

.content {
  clear: both;
  margin: 15px;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.38;
}

.answerlist-content{
  clear:both;
  margin-left: 63px;
  margin-bottom: 10px;
  margin-right: 10px;
  font-family: Helvetica, sans-serif;
  font-size:14px;
  line-height: 1.38;
}

.tag{
  margin-left: 10px;
  margin-bottom: 15px;
  display: inline;

}

.card-tag {
  margin-bottom: 10px;
  margin-left: 5px;
}

.comment{
  max-width: 150px;
  border-radius: 19px;
}

.comment2{
  max-width: 150px;
  border-radius: 19px;
  margin-left: -10px;
}


.nav-subject{
  position: fixed;
  display: block;
}

.btn-more {
  background-color: transparent;
  position: absolute;
  left: 94%;
  top: 10px;
}

.btn-morestyle {
  background-color: transparent;
  color: transparent;
  border: hidden;
}

.btn-morestyle:hover{
  background-color: rgb(76, 80, 92);
}

.fixed {
  position: fixed;
}

.text-logo {
  color: #ffffff;
  -webkit-user-drag: none;
}

a:hover {
  text-decoration: none !important;
}

.noselect {
  -webkit-user-select: none; /* Safari */
  -webkit-touch-callout: none; /* iOS Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -ms-user-select: none; /* Internet Explorer/Edge */
  -moz-user-select: none; /* Old versions of Firefox */
  user-select: none; /* Non-prefixed version*/
}

.nodrag {
  -webkit-user-drag: none;
}

.forum-img {
  object-fit: cover;
  width: 100%;
  max-height: 400px;
}

.answer-box{
  display: flex;
  padding: 10px;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
}

.answer-pad{
  background-color: rgba(247,247,248,255);
}

.btn-answer{
  height: 33px;
  color: white;
  font-size: 14px;
  border-radius: 20px;
  margin-left: 10px;
  font-weight: bold;
}

.input-answer{
  width: 67%;
  border: none;
}

.main-card{
  border-radius: 0px;
}

.answerlist-card{
  background-color: rgba(247,247,248,255);
  border-left:none;
  border-right:none;
  border-bottom:none;
  border-radius: 0px;
  margin-bottom: 20px;
}

.answerlist-content-text{
  margin-bottom: 10px;
}

.commentlist-content-text{
  margin-left: 15px;
}

.commentlist-content{
  margin-left: 63px;
  margin-right: 10px;
  font-family: Helvetica, sans-serif;
  font-size:14px;
  line-height: 1.38;
  border-left: 3px solid rgba(230,231,232,255);
}

.btn-viewmore{
  font-size: 12px;
  color: #365899;
}

.img-user {
  /*display:block;*/
  float:left;
  border-radius: 50% !important;
  padding: 3px;

  width:40px;
  height:40px;
}

.img-user2 {
  /*display:block;*/
  border-radius: 50% !important;
  font-size: 12px;
  padding: 3px;
  margin-left: -10px;
  margin-right: 5px;
  width:40px;
  height:40px;
}

.menu-text {
  font-size: 14px;
}


